@model Cowrk_Space_Mangment_System.Models.Product

<div class="bg-transparent w-auto">
    <h4>Product</h4>
    <hr />
    <dl class="row w-auto">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>        
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ActualPrice)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ActualPrice)
        </dd>

        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.ActualAmount)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ActualAmount)
        </dd> 
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>
        <dd class = "col-sm-6">
            <img src="~/Images/@Model.BarCode" alt=""/>
        </dd>
    </dl>
</div>