@model Cowrk_Space_Mangment_System.Models.Receptionist

<div class="bg-transparent w-auto">
    <h4>Receptionist</h4>
    <hr />
    <dl class="row w-auto">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.AppId)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.AppId)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicationuser.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicationuser.Name)
        </dd>

        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Applicationuser.Email)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Applicationuser.Email)
        </dd>        
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Applicationuser.PhoneNumber)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Applicationuser.PhoneNumber)
        </dd>

        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.SalaryPerHour)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.SalaryPerHour)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.TotalHours)
        </dd>

    </dl>
</div>
