@model Cowrk_Space_Mangment_System.Models.Receptionist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receptionist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicationuser.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicationuser.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicationuser.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicationuser.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicationuser.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicationuser.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicationuser.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicationuser.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Applicationuser.PasswordHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Applicationuser.PasswordHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaryPerHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaryPerHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHours)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="GetAllReceptionists">Back to List</a>
</div>
